.bb-container,
.bb-container-configs {
    --bs-danger: #c34d52;
    --bs-border-color: #e3e3e3;

    --bb-gray-100: #f7f7f7;
    --bb-gray-200: #f1f1f1;
    --bb-gray-300: #e7e7e7;
    --bb-default-transition: all .3s ease-in-out;
    --bb-input-border-radius: 4px;
    --bb-input-border-color: #ebebeb;
    --bb-input-focus-border-color: #a5c8f1;

    --bb-tab-active-bg: var(--bs-primary);
    --bb-tab-hover-bg: #2276d7;

    --bb-entry-error-border-color: #ebd9d9;
    --bb-entry-error-bg: #fff5f5;
    --bb-entry-recently-added-bg: #f4faff;
    --bb-entry-actions-icon-color: #737272;
}

.text-body-hover:hover {
    color: var(--bs-primary) !important;
}

.text-danger-hover:hover {
    color: #972121 !important;
}

/************************************************************/
/* Environment info block
/************************************************************/
.env-info {
    display: grid;
    grid-gap: 10px 0;
    grid-template-columns: 1fr auto auto auto;
    font-size: 0.85rem;

    @media (min-width: 992px) {
        inline-size: fit-content;
    }
}

.env-info-row {
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    grid-column: 1/-1;

    @media (min-width: 992px) {
        display: grid;
        grid-template-columns: subgrid;
    }
}

.env-info-entry {
    padding: 10px 20px;
    border-block-end: 1px solid var(--bs-border-color);
    background: var(--bb-gray-100);

    @media (min-width: 992px) {
        border-block-end: 0;
        border-inline-end: 1px solid var(--bs-border-color);
    }
}

.env-info-entry:last-child {
    border-block-end: 0;

    @media (min-width: 992px) {
        border-inline-end: 0;
    }
}

.env-info-entry-title {
    background: var(--bb-gray-200);
}

.env-info-entry-value {
    white-space: nowrap;
    margin-left: 4px;
}

/************************************************************/
/* Navigation tabs
/************************************************************/
.navigation-tabs {
    width: 100%;
    margin: 0;
    padding: 0;

    @media (min-width: 1400px) {
        display: flex;
    }
}

.navigation-tabs > li {
    list-style-type: none;
}

.navigation-tabs > li > a {
    display: block;
    position: relative;
    padding: 10px 15px;
    color: var(--bs-body-color);
    border: 1px solid var(--bs-border-color);
    border-bottom: none;
    border-radius: 0;
    transition: var(--bb-default-transition);

    @media (min-width: 1400px) {
        border-bottom: 1px solid var(--bs-border-color);
        border-right: 0;
    }
}

.navigation-tabs > li:first-child > a {
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);

    @media (min-width: 1400px) {
        border-top-left-radius: var(--bs-border-radius);
        border-top-right-radius: 0;
        border-bottom-left-radius: var(--bs-border-radius);
    }
}

.navigation-tabs > li:last-child > a {
    border-bottom-left-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
    border-bottom: 1px solid var(--bs-border-color);

    @media (min-width: 1400px) {
        border-right: 1px solid var(--bs-border-color);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: var(--bs-border-radius);
        border-top-right-radius: var(--bs-border-radius);
    }
}

.navigation-tabs > li > a.navigation-tab-link-active {
    color: var(--bs-white);
    background: var(--bb-tab-active-bg);
    border-color: var(--bb-tab-active-bg);
}

.navigation-tabs > li > a:hover,
.navigation-tabs > li > a.navigation-tab-link-active:hover,
.navigation-tabs > li > a.has-error:hover {
    color: var(--bs-white);
    border-color: var(--bb-tab-hover-bg);
    background: var(--bb-tab-hover-bg);
}

.navigation-tabs > li > a.has-error {
    color: var(--bs-white);
    background: var(--bs-danger);
    border-color: var(--bs-danger);
}

.navigation-tabs > li > a.navigation-tab-link-active:after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--bb-tab-active-bg);
    z-index: 1;
    transition: var(--bb-default-transition);
}

.navigation-tabs > li > a.navigation-tab-link-active:hover:after,
.navigation-tabs > li > a.navigation-tab-link-active.has-error:hover:after {
    border-top-color: var(--bb-tab-hover-bg);
}

.navigation-tabs > li > a.navigation-tab-link-active.has-error:after {
    border-top-color: var(--bs-danger);
}

/************************************************************/
/* Form
/************************************************************/
.has-error .form-control {
    border-color: var(--bs-danger) !important;
}

.has-error label {
    color: var(--bs-danger) !important;
}

.footer-required-fields {
    margin-bottom: 100px;
}

.bb-code-block {
    display: block;
    background: #f7f7f7;
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.bb-code-block pre {
    margin-bottom: 0;
}

.block-icon-preview {
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding: 10px 20px 18px;
}

.block-icon-preview-image-wrapper {
    width: 97px;
    margin: 0 auto;
}

/* choices.js adjustments */
.ccm-ui .choices__inner {
    background: var(--bs-white);
    border-radius: var(--bb-input-border-radius);
    border-color: var(--bb-input-border-color);
}

.ccm-ui .is-focused .choices__inner,
.ccm-ui .is-open .choices__inner {
    border-color: var(--bb-input-focus-border-color);
}

.ccm-ui .choices__list--dropdown .choices__item--selectable[data-select-text],
.ccm-ui .choices__list[aria-expanded] .choices__item--selectable[data-select-text] {
    padding-right: 20px;
}

/************************************************************/
/* Night mode
/************************************************************/
[data-bs-theme="dark"] .env-info-entry {
    background: #373737;
}

[data-bs-theme="dark"] .env-info-entry-title {
    background: #454545;
}

/************************************************************/
/* Configs
/************************************************************/
.block-types-title {
    font-weight: 400;
    font-size: 1.2rem;
}

.block-type {
    border: 1px solid var(--bs-border-color);
    padding: 20px;
}

.block-type:hover {
    background-color: var(--bb-gray-100);
}

.block-type-icon {
    width: 97px;
}

.block-type-info {
    @media (min-width: 1400px) {
        padding: 0 20px;
    }
}

.block-type-info-badge {
    background-color: var(--bb-gray-300) !important;
    color: var(--bs-body-color);
}

.block-type-actions {
    @media (min-width: 1600px) {
        flex-direction: row !important;
        align-items: start !important;
    }
}

.block-type-action:not(:last-child) {
    @media (min-width: 1600px) {
        margin-right: .5rem !important;
    }
}

@media (min-width: 1400px) and (max-width: 1599px) {
    .block-type-action-load-config {
        order: 1;
    }

    .block-type-action-delete-folder {
        order: 2;
    }

    .block-type-action-uninstall {
        order: 3;
    }

    .block-type-action-install {
        order: 4;
    }
}

/************************************************************/
/* Field types (Tab: Basic information / Tab: Repeatable entries)
/************************************************************/
.field-type-actions {
    position: sticky;
    top: 44px;
    background: var(--bb-gray-100);
    z-index: 1;
    padding: 20px;
    border: 1px solid var(--bs-border-color);
    height: auto;
    border-radius: var(--bs-border-radius);
}

.field-type-action-add {
    width: 100%;

    @media (min-width: 1400px) {
        width: 300px;
    }
}

.field-entry {
    border-radius: var(--bs-border-radius);
    border: 1px solid var(--bs-border-color);
    padding: 20px;
}

.field-entry[data-recently-added] {
    background: var(--bb-entry-recently-added-bg);
}

.field-entry.field-entry-has-error {
    border-color: var(--bb-entry-error-border-color);
    background: var(--bb-entry-error-bg);
}

.field-entry-header-move-entry,
.field-entry-header-toggle-entry,
.field-entry-header-remove-entry {
    position: absolute;
    top: 0;
    cursor: pointer;
}

.field-entry-header-move-entry {
    left: 0;
    cursor: move;
}

.field-entry-header-toggle-entry {
    left: 30px;
}

.field-entry-header-remove-entry {
    right: 0;
}

.field-entry-header-title {
    text-align: center;
    margin: 0 30px 0 60px;
}

.field-entry-content {
    border-top: 1px solid var(--bs-border-color);
    margin-top: 15px;
    padding-top: 30px;
}

.ccm-ui .field-entry-hr {
    margin: 0 0 1.5rem 0;
}
