/************************************************************/
/* Environment info block
/************************************************************/
:root {
    --bb-default-transition: all .3s ease-in-out;
}

.env-info {
    --bb-env-info-entry-bg: #f7f7f7;
    --bb-env-info-entry-title-bg: #e8e8e8;

    display: grid;
    grid-gap: 10px 0;
    grid-template-columns: 1fr auto auto auto;
    font-size: 0.85rem;

    @media (min-width: 992px) {
        inline-size: fit-content;
    }
}

.env-info-row {
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    grid-column: 1/-1;

    @media (min-width: 992px) {
        display: grid;
        grid-template-columns: subgrid;
    }
}

.env-info-entry {
    padding: 10px 20px;
    border-block-end: 1px solid var(--bs-border-color);
    background: var(--bb-env-info-entry-bg);

    @media (min-width: 992px) {
        border-block-end: 0;
        border-inline-end: 1px solid var(--bs-border-color);
    }
}

.env-info-entry:last-child {
    border-block-end: 0;

    @media (min-width: 992px) {
        border-inline-end: 0;
    }
}

.env-info-entry-title {
    background: var(--bb-env-info-entry-title-bg);
}

.env-info-entry-value {
    white-space: nowrap;
    margin-left: 4px;
}

/************************************************************/
/* Navigation tabs
/************************************************************/
.navigation-tabs {
    --bb-tab-active-bg: var(--bs-primary);
    --bb-tab-hover-bg: #2276d7;
    --bb-tab-error-bg: #a94442;

    width: 100%;
    margin: 0;
    padding: 0;

    @media (min-width: 1400px) {
        display: flex;
    }
}

.navigation-tabs > li {
    list-style-type: none;
}

.navigation-tabs > li > a {
    display: block;
    position: relative;
    padding: 10px 15px;
    color: var(--bs-body-color);
    border: 1px solid var(--bs-border-color);
    border-bottom: none;
    border-radius: 0;
    transition: var(--bb-default-transition);

    @media (min-width: 1400px) {
        border-bottom: 1px solid var(--bs-border-color);
        border-right: 0;
    }
}

.navigation-tabs > li:first-child > a {
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);

    @media (min-width: 1400px) {
        border-top-left-radius: var(--bs-border-radius);
        border-top-right-radius: 0;
        border-bottom-left-radius: var(--bs-border-radius);
    }
}

.navigation-tabs > li:last-child > a {
    border-bottom-left-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
    border-bottom: 1px solid var(--bs-border-color);

    @media (min-width: 1400px) {
        border-right: 1px solid var(--bs-border-color);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: var(--bs-border-radius);
        border-top-right-radius: var(--bs-border-radius);
    }
}

.navigation-tabs > li > a.navigation-tab-link-active {
    color: var(--bs-white);
    background: var(--bb-tab-active-bg);
    border-color: var(--bb-tab-active-bg);
}

.navigation-tabs > li > a:hover,
.navigation-tabs > li > a.navigation-tab-link-active:hover,
.navigation-tabs > li > a.has-error:hover {
    color: var(--bs-white);
    border-color: var(--bb-tab-hover-bg);
    background: var(--bb-tab-hover-bg);
}

.navigation-tabs > li > a.has-error {
    color: var(--bs-white);
    background: var(--bb-tab-error-bg);
    border-color: var(--bb-tab-error-bg);
}

.navigation-tabs > li > a.navigation-tab-link-active:after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--bb-tab-active-bg);
    z-index: 1;
    transition: var(--bb-default-transition);
}

.navigation-tabs > li > a.navigation-tab-link-active:hover:after,
.navigation-tabs > li > a.navigation-tab-link-active.has-error:hover:after {
    border-top-color: var(--bb-tab-hover-bg);
}

.navigation-tabs > li > a.navigation-tab-link-active.has-error:after {
    border-top-color: var(--bb-tab-error-bg);
}

/************************************************************/
/* Night mode
/************************************************************/
[data-bs-theme="dark"] .env-info-entry {
    background: #373737;
}

[data-bs-theme="dark"] .env-info-entry-title {
    background: #454545;
}






















/* Basic information/Entries tabs */
.ccm-ui .entries-actions {
    padding: 0 10px;
}

.ccm-ui .entries-action {
    margin: 10px 20px 0 0;
    width: 100%;
    color: #555555;
}

@media only screen and (min-width: 768px) {
    .ccm-ui .entries-action {
        margin-top: 0;
    }
}

.ccm-ui .checkbox.entries-action-scroll {
    display: inline;
}

@media only screen and (min-width: 1280px) {
    .ccm-ui .checkbox.entries-action-scroll {
        margin-right: 62px;
    }
}

.ccm-ui .entries-action-remove-all {
    color: #c34d52;
    white-space: nowrap;
}

@media only screen and (min-width: 1280px) {
    .ccm-ui .entries-action-remove-all {
        margin-left: 45px;
    }
}

.ccm-ui .entries-action:hover,
.ccm-ui .entries-action:focus {
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .ccm-ui .entries-action {
        width: auto;
    }
}

.ccm-ui .entry.well {
    background: #fff;
    box-shadow: none;
    margin-bottom: 25px;
    border-radius: .25rem;
    padding: 19px;
    border: 1px solid #e3e3e3;
}

.ccm-ui .entry.well.state-newly-added-entry {
    border: 1px solid #89ccad;
}

.ccm-ui .entry.well:last-of-type {
    margin-bottom: 0;
}

.ccm-ui .entry.well.entry-has-error {
    /*border-color: #a94442;*/
    /*background: #fff1f1;*/
    border-color: #ebd9d9;
    background: #fff5f5;
}

.ccm-ui .entry-header {
    position: relative;
}

.ccm-ui .entry-header-action {
    position: absolute;
    top: 0;
}

.ccm-ui .entry-header-remove-entry {
    right: 0;
    color: #c34d52;
    cursor: pointer;
}

.ccm-ui .entry-header-move-entry {
    left: 0;
    cursor: move;
    color: #737272;
}

.ccm-ui .entry-header-toggle-entry {
    left: 30px;
    font-size: 17px;
    cursor: pointer;
    color: #737272;
}

.ccm-ui .entry-header-title {
    text-align: center;
    margin: 0 30px 0 60px;
    overflow: hidden;
    min-height: 22px;
}

.ccm-ui .entry-header-title span {
    margin-right: 7px;
    font-weight: bold;
    color: #646371;
}

.ccm-ui .entry-content {
    border-top: 1px solid #e3e3e3;
    margin-top: 15px;
    padding-top: 30px;
}

.ccm-ui hr.entry-hr {
    margin: 0 0 30px 13px;
    width: calc(100% - 26px);
}

/* Form */
.ccm-ui .required-fields {
    margin-bottom: 200px;
}

.ccm-ui .bb-code-block {
    display: block;
    background: #f7f7f7;
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.ccm-ui .bb-code-block pre {
    margin-bottom: 0;
}

/* Block types */
.ccm-ui .block-type {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 992px) {
    .ccm-ui .block-type {
        flex-direction: row;
        justify-content: space-between;
    }
}

.ccm-ui .block-type-info {
    flex: 1;
    background: #fff;
    /*border: 1px solid #dedede;*/
    padding: 20px;
    border-radius: 2px 2px 0 0;
    color: #555555;
    margin-bottom: 0;
}

/*.ccm-ui .block-type-info-single {*/
/*    border: 1px solid #dedede;*/
/*    border-radius: 2px;*/
/*    margin-bottom: 10px;*/
/*}*/
@media only screen and (min-width: 992px) {
    .ccm-ui .block-type-info {
        margin-bottom: 10px;
        border-radius: 2px 0 0 2px;
    }

    /*.ccm-ui .block-type-build-single {*/
    /*    border-radius: 2px;*/
    /*}*/
}

.ccm-ui .block-type-rebuild {
    background: #fff;
    border: 1px solid #dedede;
    border-top: none;
    padding: 20px;
    border-radius: 0 0 2px 2px;
    color: #555555;
    margin-bottom: 10px;
}

.ccm-ui .block-type-rebuild br {
    display: none;
}

@media only screen and (min-width: 992px) {
    .ccm-ui .block-type-rebuild {
        flex-shrink: 1;
        display: flex;
        align-items: center;
        text-align: center;
        border: 1px solid #dedede;
        border-left: none;
        border-radius: 0 2px 2px 0;
    }

    .ccm-ui .block-type-rebuild br {
        display: block;
    }
}

.ccm-ui .block-type-build:hover,
.ccm-ui .block-type-build:focus,
.ccm-ui .block-type-rebuild:hover,
.ccm-ui .block-type-rebuild:focus {
    background: #ecf5ff;
    color: #555555;
    text-decoration: none;
}

/* Other */
.ccm-ui .bb-container textarea {
    resize: vertical;
}

.ccm-ui .has-error .form-control {
    border-color: #a94442;
    border-width: 1px;
}

/* Pills */
.info-item-title {
    display: inline-block;
}

.info-item-config {
    background-color: #e3e3e3 !important;
    color: #454545;
}
