/* Navigation tabs */
.ccm-ui .navigation-tabs {
    margin: 0 0 10px 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.ccm-ui .navigation-tabs li {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    margin-top: -1px;
}

.ccm-ui .navigation-tabs > li:first-child {
    margin-top: 0;
}

.ccm-ui .navigation-tabs li a {
    position: relative;
    padding: 10px 15px;
    width: 100%;
}

.ccm-ui .navigation-tabs > li a {
    border-radius: 0;
    color: #555555;
}

.ccm-ui .navigation-tabs > li:first-child a {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.ccm-ui .navigation-tabs > li:last-child a {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.ccm-ui .navigation-tabs li a.btn:hover,
.ccm-ui .navigation-tabs li a.btn:focus {
    z-index: 2;
}

.ccm-ui .navigation-tabs li a.btn.navigation-tabs-active {
    z-index: 2;
    color: #fff;
    background: #4290be;
    border-color: #4290be;
}

.ccm-ui .navigation-tabs li a.btn.navigation-tabs-active:after {
    content: "\f0d7";
    font-family: FontAwesome;
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 100%;
    color: #4290be;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .ccm-ui .navigation-tabs li {
        float: left;
        width: auto;
        margin-top: 0;
        margin-left: -1px;
    }
    .ccm-ui .navigation-tabs > li a {
        border-radius: 0;
    }
    .ccm-ui .navigation-tabs > li:first-child a {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }
    .ccm-ui .navigation-tabs > li:last-child a {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}

.ccm-ui .navigation-tabs li a.has-error,
.ccm-ui .navigation-tabs li a.has-error:hover,
.ccm-ui .navigation-tabs li a.has-error:focus,
.ccm-ui .navigation-tabs li a.btn.navigation-tabs-active.has-error,
.ccm-ui .navigation-tabs li a.btn.navigation-tabs-active.has-error:hover,
.ccm-ui .navigation-tabs li a.btn.navigation-tabs-active.has-error:focus {
    color: #fff;
    background: #c35957;
    border-color: #a94442;
}
.ccm-ui .navigation-tabs li a.btn.navigation-tabs-active.has-error:after {
    color: #a94442;
}

/* Basic information/Entries tabs */
.ccm-ui .entries-actions {
    padding: 9px 10px;
    margin: 0;
}

.ccm-ui .entries-action {
    margin: 10px 10px 5px 0;
    width: 100%;
    color: #555555;
}

.ccm-ui .checkbox.entries-action-scroll {
    display: inline;
}

@media only screen and (min-width: 1280px) {
    .ccm-ui .checkbox.entries-action-scroll {
        margin-right: 62px;
    }
}

.ccm-ui .entries-action-remove-all {
    color: #c34d52;
    white-space: nowrap;
}

@media only screen and (min-width: 1280px) {
    .ccm-ui .entries-action-remove-all {
        margin-left: 45px;
    }
}

.ccm-ui .entries-action:hover,
.ccm-ui .entries-action:focus {
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .ccm-ui .entries-action {
        width: auto;
    }
}

.ccm-ui .entry.well {
    background: #fff;
    box-shadow: none;
    margin-bottom: 25px;
}

.ccm-ui .entry.well.state-newly-added-entry {
    border: 1px solid #89ccad;
}

.ccm-ui .entry.well:last-of-type {
    margin-bottom: 0;
}

.ccm-ui .entry.well.entry-has-error {
    border-color: #a94442;
}

.ccm-ui .entry-header {
    position: relative;
}

.ccm-ui .entry-header-action {
    position: absolute;
    top: 0;
}

.ccm-ui .entry-header-remove-entry {
    right: 0;
    color: #c34d52;
    cursor: pointer;
}

.ccm-ui .entry-header-move-entry {
    left: 0;
    cursor: move;
    color: #737272;
}

.ccm-ui .entry-header-toggle-entry {
    left: 30px;
    font-size: 17px;
    cursor: pointer;
    color: #737272;
}

.ccm-ui .entry-header-title {
    text-align: center;
    margin: 0 30px 0 60px;
    overflow: hidden;
    min-height: 22px;
}

.ccm-ui .entry-header-title span {
    margin-right: 7px;
    font-weight: bold;
    color: #646371;
}

.ccm-ui .entry-content {
    border-top: 1px solid #e3e3e3;
    margin-top: 15px;
    padding-top: 30px;
}

.ccm-ui hr.entry-hr {
    margin: 0 0 30px 0;
}

.ccm-ui .form-group.form-group-no-margin {
    margin-bottom: 0;
}

/* Form */
.ccm-ui .required-fields {
    margin-bottom: 200px;
}

/* Block types */
.ccm-ui .block-type {
    display: block;
    background: #fff;
    border: 1px solid #dedede;
    padding: 20px;
    border-radius: 2px;
    color: #555555;
    margin-bottom: 10px;
}
.ccm-ui .block-type:hover,
.ccm-ui .block-type:focus {
    background: #efefef;
    border: 1px solid #dedede;
    color: #555555;
    text-decoration: none;
}

/* Other */
.ccm-ui .bb-container textarea {
    resize: vertical;
}