/* Styles */
@media only screen and (max-width: 991px) {
    .ccm-ui .margin-bottom-on-mobile {
        margin-bottom: 30px;
    }
}

.ccm-ui .margin-bottom {
    margin-bottom: 30px;
}

/* Link */
div.ccm-ui .toggle-additional-fields i {
    margin-right: 10px;
    transition: transform .2s;
}

div.ccm-ui .toggle-additional-fields-active {
    background-color: #f7f7f7;
}

div.ccm-ui .toggle-additional-fields-active i {
    transform: rotate(90deg);
}

/* Image */
div.ccm-ui .toggle-additional-image-fields i {
    margin-right: 10px;
    transition: transform .2s;
}

div.ccm-ui .toggle-additional-image-fields-active {
    background-color: #f7f7f7;
}

div.ccm-ui .toggle-additional-image-fields-active i {
    transform: rotate(90deg);
}

/* Entries - buttons and links */
.ccm-ui .entries-actions {
    margin-bottom: 15px;
}

.ccm-ui .entries-action-button {
    margin-bottom: 5px;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .ccm-ui .entries-action-button {
        width: auto;
        margin-bottom: 0;
    }
}

.ccm-ui .entries-actions-links {
    display: inline-block;
    margin-top: 14px;
}

@media only screen and (min-width: 768px) {
    .ccm-ui .entries-actions-links {
        margin-top: 0;
        margin-left: 21px;
    }
}

.ccm-ui .entries-action-link {
    margin-right: 15px;
}

.ccm-ui .entries-action-link:hover,
.ccm-ui .entries-action-link:focus {
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .ccm-ui .entries-action-link {
        width: auto;
    }
}

.ccm-ui .entries-action-link-remove-all {
    float: right;
    margin-top: 9px;
    margin-right: 0;
    color: #c34d52;
}

/* Well */
.ccm-ui .entry.well {
    background: #fff;
    box-shadow: none;
    padding: 20px;
    border: 1px solid #dedede;
    border-radius: .25rem;
    margin-bottom: 1rem;
}

.ccm-ui .entry-header {
    position: relative;
}

.ccm-ui .entry-header-action  {
    position: absolute;
    top: 0;
}

.ccm-ui .entry-header-remove-entry  {
    right: 0;
    color: #c34d52;
    cursor: pointer;
}

.ccm-ui .entry-header-duplicate-entry {
    right: 30px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    color: #4c4f56;
}

.ccm-ui .entry-header-duplicate-entry-and-add-at-the-end {
    right: 64px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    color: #4c4f56;
}

.ccm-ui .entry-header-duplicate-entry:focus {
    outline: none !important;
}

.ccm-ui .entry-header-duplicate-entry:disabled,
.ccm-ui .entry-header-duplicate-entry-and-add-at-the-end:disabled {
    color: #909090;
    cursor: not-allowed;
}

.ccm-ui .entry-header-move-entry  {
    left: 0;
    cursor: move;
}

.ccm-ui .entry-header-toggle-entry  {
    left: 30px;
    font-size: 17px;
    cursor: pointer;
}

.ccm-ui .entry-header-title {
    text-align: center;
    margin: 0 95px 0 95px;
    overflow: hidden;
    min-height: 22px;
}

.ccm-ui .entry-content {
    border-top: 1px solid #e3e3e3;
    margin-top: 19px;
    padding-top: 30px;
}

div.ui-dialog .ui-dialog-content .entries hr {
    margin-left: 0;
    margin-right: 0;
}